[submodule "HKLib"]
	path = HKLib
	url = https://github.com/The12thAvenger/HKLib
[submodule "SoulsFormats"]
	path = SoulsFormats
	url = https://github.com/JKAnderson/SoulsFormats
[submodule "C:/Users/Admin/RiderProjects/ERClipGeneratorTool/SoulsFormats"]
	branch = er
